.fw-textview-style.balance-main {
	margin: 0 16px;
	margin-top: 16px;
	font-size: 36px;
}

.fw-textview-style.balance-small {
	margin: 8px 16px;
	font-size: 12px;
	color: #999;
}

.console-input-frame {display: flex; border-top: 1px solid #eee;}
.console-input-frame > input {
	flex: 1; border: none; background: none;
	padding: 4px; font-family: monospace;
}
.console-input-frame > i {
	padding: 8px; color: #f09;
	font-size: 24px;
}

.console-log {font-family: monospace; font-size: 14px; }
.console-log > div {
	margin: 4px; border-bottom: thin #eee solid;
    word-break: break-word;
    overflow-wrap: break-word;
}
.console-log > .out {color: gray;}
.console-log > .in {color: blue;}
.console-log > .error {color: red;}

.fw-textview-style.title3 {
	margin: 8px 16px;
	font-size: 24px;
}

.qrview {
	display: block;
	margin: 16px auto;
    width: 172px;
}

.sumEditor {display: flex; margin: 16px; margin-bottom: 48px; }
.sumEditor > input, .sumEditor > a {
	background: none; border: none;
	font-size: 36px; display: block;
}
.sumEditor > input {
	flex: 1; width: 0;
}

html.darktheme .sumEditor > input {color: #fff;}

.fw-textview-style.address {
	text-align: center;
	font: monospace;
	color: #f09;
}

.fw-textview-style.address-label {
	text-align: center;
	color: #333;
	font-weight: bold;
}

.buttons-row {display: flex; }
.buttons-row > button {flex: 1;}
